packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |

      [/var/app/current/storage/logs/AssessHomePages.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/AssessHomePages.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/AssessHomePages.log

      [/var/app/current/storage/logs/ChangeCmsPlan.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/ChangeCmsPlan.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/ChangeCmsPlan.log

      [/var/app/current/storage/logs/CleanSecondEstateExclusionCom.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CleanSecondEstateExclusionCom.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CleanSecondEstateExclusionCom.log

      [/var/app/current/storage/logs/conversion_log/*.csv]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/conversion_log/"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/conversion_log/*.csv

      [/var/app/current/storage/logs/CreateCompanyContactLog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateCompanyContactLog.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateCompanyContactLog.log

      [/var/app/current/storage/logs/CreateCompanyCsv.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateCompanyCsv.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateCompanyCsv.log

      [/var/app/current/storage/logs/CreateConversionLog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateConversionLog.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateConversionLog.log

      [/var/app/current/storage/logs/CreateEstateContactLog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateEstateContactLog.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateEstateContactLog.log

      [/var/app/current/storage/logs/CreateEstateParentChildCsv.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateEstateParentChildCsv.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateEstateParentChildCsv.log

      [/var/app/current/storage/logs/CreateEstateSettingCsv.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateEstateSettingCsv.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateEstateSettingCsv.log

      [/var/app/current/storage/logs/CreateParentChildCsv.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateParentChildCsv.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateParentChildCsv.log

      [/var/app/current/storage/logs/CreateSecondEstatePrefCsv.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/CreateSecondEstatePrefCsv.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/CreateSecondEstatePrefCsv.log

      [/var/app/current/storage/logs/debug.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/debug.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/debug.log

      [/var/app/current/storage/logs/Diacrisis.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Diacrisis.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Diacrisis.log

      [/var/app/current/storage/logs/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/error.log

      [/var/app/current/storage/logs/FDPEvent.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/FDPEvent.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/FDPEvent.log

      [/var/app/current/storage/logs/laravel.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/laravel.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/laravel.log

      [/var/app/current/storage/logs/panorama_log/*.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/panorama_log/"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/panorama_log/*.log

      [/var/app/current/storage/logs/publish.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/publish.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/publish.log

      [/var/app/current/storage/logs/publish_render.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/publish_render.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/publish_render.log

      [/var/app/current/storage/logs/PublishReserve.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/PublishReserve.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/PublishReserve.log

      [/var/app/current/storage/logs/SitemapXml.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/SitemapXml.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/SitemapXml.log

      [/var/app/current/storage/logs/TopOriginalEvent.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/TopOriginalEvent.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/TopOriginalEvent.log

      [/var/app/current/storage/logs/Batch_AssessHomePages_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_AssessHomePages_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_AssessHomePages_error.log

      [/var/app/current/storage/logs/Batch_AssessHomePages_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_AssessHomePages_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_AssessHomePages_info.log

      [/var/app/current/storage/logs/Batch_ChangeCmsPlan_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_ChangeCmsPlan_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_ChangeCmsPlan_error.log

      [/var/app/current/storage/logs/Batch_ChangeCmsPlan_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_ChangeCmsPlan_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_ChangeCmsPlan_info.log

      [/var/app/current/storage/logs/Batch_CleanSecondEstateExclusionCom_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CleanSecondEstateExclusionCom_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CleanSecondEstateExclusionCom_error.log

      [/var/app/current/storage/logs/Batch_CleanSecondEstateExclusionCom_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CleanSecondEstateExclusionCom_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CleanSecondEstateExclusionCom_info.log

      [/var/app/current/storage/logs/Batch_CreateCompanyContactLog_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateCompanyContactLog_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateCompanyContactLog_error.log

      [/var/app/current/storage/logs/Batch_CreateCompanyContactLog_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateCompanyContactLog_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateCompanyContactLog_info.log

      [/var/app/current/storage/logs/Batch_CreateCompanyCsv_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateCompanyCsv_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateCompanyCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateCompanyCsv_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateCompanyCsv_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateCompanyCsv_info.log

      [/var/app/current/storage/logs/Batch_CreateConversionLog_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateConversionLog_error.log"]]}`
       retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateCompanyCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateConversionLog_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateConversionLog_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateConversionLog_info.log

      [/var/app/current/storage/logs/Batch_CreateEstateContactLog_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateContactLog_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateContactLog_error.log

      [/var/app/current/storage/logs/Batch_CreateEstateContactLog_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateContactLog_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateContactLog_info.log

      [/var/app/current/storage/logs/Batch_CreateEstateParentChildCsv_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateParentChildCsv_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateParentChildCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateEstateParentChildCsv_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateParentChildCsv_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateParentChildCsv_info.log

      [/var/app/current/storage/logs/Batch_CreateEstateSettingCsv_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateSettingCsv_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateSettingCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateEstateSettingCsv_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateEstateSettingCsv_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateEstateSettingCsv_info.log

      [/var/app/current/storage/logs/Batch_CreateParentChildCsv_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateParentChildCsv_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateParentChildCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateParentChildCsv_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateParentChildCsv_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateParentChildCsv_info.log

      [/var/app/current/storage/logs/Batch_CreateSecondEstatePrefCsv_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateSecondEstatePrefCsv_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateSecondEstatePrefCsv_error.log

      [/var/app/current/storage/logs/Batch_CreateSecondEstatePrefCsv_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_CreateSecondEstatePrefCsv_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_CreateSecondEstatePrefCsv_info.log

      [/var/app/current/storage/logs/Batch_Diacrisis_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_Diacrisis_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_Diacrisis_error.log

      [/var/app/current/storage/logs/Batch_Diacrisis_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_Diacrisis_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_Diacrisis_info.log

      [/var/app/current/storage/logs/Batch_FDPEvent_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_FDPEvent_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_FDPEvent_error.log

      [/var/app/current/storage/logs/Batch_FDPEvent_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_FDPEvent_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_FDPEvent_info.log

      [/var/app/current/storage/logs/Batch_PublishReserve_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_PublishReserve_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_PublishReserve_error.log

      [/var/app/current/storage/logs/Batch_PublishReserve_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_PublishReserve_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_PublishReserve_info.log

      [/var/app/current/storage/logs/Batch_SitemapXml_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_SitemapXml_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_SitemapXml_error.log

      [/var/app/current/storage/logs/Batch_SitemapXml_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_SitemapXml_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_SitemapXml_info.log

      [/var/app/current/storage/logs/Batch_TopOriginalEvent_error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_TopOriginalEvent_error.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_TopOriginalEvent_error.log

      [/var/app/current/storage/logs/Batch_TopOriginalEvent_info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/Batch_TopOriginalEvent_info.log"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/Batch_TopOriginalEvent_info.log

      [/var/app/current/storage/logs/estate_log/*.txt]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/estate_log/"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/estate_log/*.txt

      [/var/app/current/storage/logs/panorama_log/*.txt]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "app/logs/panorama_log/"]]}`
      retention_in_days = 7
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/panorama_log/*.txt


commands:
  "01_rm_bak_awslogs":
    command: rm awscli.conf.bak awslogs.conf.bak config/logs.conf.bak
    cwd: "/etc/awslogs"
    ignoreErrors: true
  "02_enable_awslogs":
    command: systemctl enable awslogsd.service
  "03_restart_awslogs":
    command: systemctl restart awslogsd