files:
  "/etc/httpd/conf.modules.d/00-proxy_timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Timeout 900
      ProxyTimeout 900

commands:
  "01_rm_bak_httpd_config":
    command: rm 00-proxy_timeout.conf.bak
    cwd: "etc/httpd/conf.modules.d"
    ignoreErrors: true