files:
  "/etc/php.d/99value.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      post_max_size=10M
      upload_max_filesize=10M
      memory_limit=420M
      max_input_vars=15000


commands:
  "01_rm_bak_php_config":
    command: rm 99value.ini.bak
    cwd: "/etc/php.d"
    ignoreErrors: true