files:
    "/etc/cron.d/laravel_scheduler_cron":
        mode: "000644"
        owner: root
        group: root
        content: |

            0 * * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ &&  php artisan command:batch-publish-reserve staging app PublishReserve >> /var/app/current/storage/logs/PublishReserve.log

            10 0 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ &&  php artisan command:batch-change-cms-plan staging app ChangeCmsPlan >> /var/app/current/storage/logs/ChangeCmsPlan.log

            30 0 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-top-original-event staging app TopOriginalEvent >> /var/app/current/storage/logs/TopOriginalEvent.log

            40 0 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-fdp-event staging app FDPEvent >> /var/app/current/storage/logs/FDPEvent.log

            50 0 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-company-csv staging app CreateCompanyCsv >> /var/app/current/storage/logs/CreateCompanyCsv.log

            10 1 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-parent-child-csv staging app CreateParentChildCsv >> /var/app/current/storage/logs/CreateParentChildCsv.log

            20 1 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-second-estate-pref-csv staging app CreateSecondEstatePrefCsv >> /var/app/current/storage/logs/CreateSecondEstatePrefCsv.log

            30 1 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-estate-parent-child-csv staging app CreateEstateParentChildCsv  >> /var/app/current/storage/logs/CreateEstateParentChildCsv.log

            40 1 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-estate-contact-log staging app CreateEstateContactLog >> /var/app/current/storage/logs/CreateEstateContactLog.log

            50 1 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-company-contact-log staging app CreateCompanyContactLog >> /var/app/current/storage/logs/CreateCompanyContactLog.log

            30 2 * * * webaap cd /var/app/current/ && php artisan command:batch-assess-home-pages staging app AssessHomePages >> /var/app/current/storage/logs/AssessHomePages.log

            40 2 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-diacrisis staging app Diacrisis >> /var/app/current/storage/logs/Diacrisis.log

            50 2 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-estate-setting-csv staging app CreateEstateSettingCsv >> /var/app/current/storage/logs/CreateEstateSettingCsv.log

            10 9 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-sitemap-xml staging app SitemapXml >> /var/app/current/storage/logs/SitemapXml.log

            10 4 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-clean-second-estate-exclusion-com staging app CleanSecondEstateExclusionCom >> /var/app/current/storage/logs/CleanSecondEstateExclusionCom.log

            20 4 * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-create-conversion-log staging app CreateConversionLog >> /var/app/current/storage/logs/CreateConversionLog.log

            * * * * * webapp source /etc/profile.d/sh.local && cd /var/app/current/ && php artisan command:batch-notify-publish-result staging app NotifyPublishResult >> /var/app/current/storage/logs/NotifyPublishResult.log

    "/usr/local/bin/laravel_scheduler_script.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /etc/profile.d/sh.local

            cd /var/app/current && php artisan schedule:run >> /dev/null 2>&1


            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/laravel_scheduler_cron.bak"