body{background:url(../imgs/blue/bg_body.jpg) no-repeat center top}
a{color:#06c}
a:hover{color:#39f}
.page-header{background:url(../imgs/blue/bg_header.png)}
.page-header{border-top:3px solid #336cc5}
.page-header .tel{color:#62b364}
.page-header .tel a{color:#62b364}
.page-header-top .link li:first-child a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:8px;height:8px;background-position:0 -48px}
.page-header-top .link li:first-child a:hover{color:#06c;opacity:.7}
.page-header-top .link li:last-child a{background-color:#336cc5}
.page-header-top .link li:last-child a:hover{opacity:.7}
.header-info .tel:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:23px;height:27px;background-position:0 -217px}
.link2 a{color:#06c}
.link2 .link2-fav a{background:url('../imgs/blue/icon_fav.png?1513159485') no-repeat left center}
.link2 .link2-history a{background:url('../imgs/blue/icon_time.png?1513159485') no-repeat left center}
.gnav{background:#fff url(../imgs/blue/bg_gnav.jpg) repeat-x left bottom}
.gnav a:after{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:11px;height:7px;background-position:0 -22px}
.gnav a:after:hover{color:#336cc5}
.breadcrumb li a:hover{color:#336cc5}
.tx-color1{color:#d6335d}
.tx-color1 a{color:#d6335d}
.tx-color1 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.tx-color2{color:#2a88a7}
.tx-color2 a{color:#2a88a7}
.tx-color2 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.tx-color3{color:#1c875b}
.tx-color3 a{color:#1c875b}
.tx-color3 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.tx-price{color:#f00}
.element-tximg6{background-color:#ecf5fc}
.element-login{border:2px solid #bfd8ff;background-color:#ecf5fc}
.element-login dt{border-left:6px solid #98b7e6}
.quote{background:#ecf5fc}
.quote:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:23px;height:16px;background-position:0 -169px}
.quote:after{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:23px;height:16px;background-position:0 -185px}
.link-pagelist a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:4px;height:6px;background-position:0 -29px}
.link-pagelist .tx-tel{color:#62b364}
.element-comment .element-heading:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:20px;height:16px;background-position:0 -63px}
.element-table .element-table-heading{background:#dbe9ff}
.pagetop a{background-color:#336cc5}
.heading-lv1{border-top:1px solid #bfd8ff;border-bottom:4px solid #448ad0;background:#fff url(../imgs/blue/bg_grade_02.jpg) repeat-x left bottom}
.heading-lv1:after{background:url(../imgs/bg_grade_01.png) repeat-x left top}
.heading-lv2{background:#fff url(../imgs/blue/bg_heading-lv2_01.jpg) no-repeat left top}
.heading-lv4:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:20px;height:20px;background-position:0 -79px}
a.btn-lv1,button.btn-lv1{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1ZGE0NWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTgyNGEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0,0,0,0)),color-stop(50%, #5da45d),color-stop(100%, #4a824a));background:-moz-linear-gradient(rgba(0,0,0,0) 50%,#5da45d 50%,#4a824a 100%);background:-webkit-linear-gradient(rgba(0,0,0,0) 50%,#5da45d 50%,#4a824a 100%);background:linear-gradient(rgba(0,0,0,0) 50%,#5da45d 50%,#4a824a 100%);background-color:#69b969}
a.btn-lv1:hover,a.btn-lv1:focus,a.btn-lv1:active,button.btn-lv1:hover,button.btn-lv1:focus,button.btn-lv1:active{color:#fff;background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5Nzg2ZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDg5NzhiIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #39786e),color-stop(50%, #48978b),color-stop(50%, rgba(0,0,0,0)));background:-moz-linear-gradient(#39786e 0%,#48978b 50%,rgba(0,0,0,0) 50%);background:-webkit-linear-gradient(#39786e 0%,#48978b 50%,rgba(0,0,0,0) 50%);background:linear-gradient(#39786e 0%,#48978b 50%,rgba(0,0,0,0) 50%);background-color:#50a799;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
input[type="submit"].btn-lv1{background-image:url(../imgs/icon_arrow_white_right_01.png),linear-gradient(rgba(0,0,0,0) 50%,#5da45d 50%,#4a824a 100%);background-position:20px center, left top;background-repeat:no-repeat, repeat;background-color:#69b969}
input[type="submit"].btn-lv1:hover,input[type="submit"].btn-lv1:focus,input[type="submit"].btn-lv1:active{background-image:url(../imgs/icon_arrow_white_right_01.png),linear-gradient(#39786e 0%,#48978b 50%,rgba(0,0,0,0) 50%);background-color:#50a799}
a.btn-lv2,button.btn-lv2{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),color-stop(100%, #ededed));background:-moz-linear-gradient(#ffffff 0%,#ededed 100%);background:-webkit-linear-gradient(#ffffff 0%,#ededed 100%);background:linear-gradient(#ffffff 0%,#ededed 100%);color:#06c}
a.btn-lv2:before,button.btn-lv2:before{border-left-color:#98b7e6}
a.btn-lv2:hover,a.btn-lv2:focus,a.btn-lv2:active,button.btn-lv2:hover,button.btn-lv2:focus,button.btn-lv2:active{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1YzVjNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5c5c5),color-stop(100%, #e5e5e5));background:-moz-linear-gradient(#c5c5c5 0%,#e5e5e5 100%);background:-webkit-linear-gradient(#c5c5c5 0%,#e5e5e5 100%);background:linear-gradient(#c5c5c5 0%,#e5e5e5 100%);background-color:#e5e5e5;color:#333}
a.btn-lv2:hover:before,a.btn-lv2:focus:before,a.btn-lv2:active:before,button.btn-lv2:hover:before,button.btn-lv2:focus:before,button.btn-lv2:active:before{border-left-color:#333}
input[type="submit"].btn-lv2{background-image:url(../imgs/icon_arrow_blue_right_01.png),linear-gradient(#ffffff 0%,#ededed 100%);background-position:20px center, left top;background-repeat:no-repeat, repeat;color:#06c}
input[type="submit"].btn-lv2:hover,input[type="submit"].btn-lv2:focus,input[type="submit"].btn-lv2:active{background-image:url(../imgs/icon_arrow_black_right_01.png),linear-gradient(#c5c5c5 0%,#e5e5e5 100%);color:#333}
.side-nav{border:1px solid #bfd8ff}
.side-nav section>ul>li{border-top:1px dotted #bfd8ff}
.side-nav section>ul>li>a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:8px;height:8px;background-position:0 -48px}
.side-nav section>ul>li ul{border-top:1px dotted #bfd8ff}
.side-nav section>ul>li li a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:7px;height:7px;background-position:0 -56px}
.side-nav .li-article li{border-bottom:1px dotted #bfd8ff;padding-bottom:7px}
.side-nav .li-article li:last-child{border-bottom:none;padding-bottom:0}
.side-nav-heading{border-bottom:1px solid #bfd8ff;background:#1d51a2 url(../imgs/blue/bg_side-nav-heading_01.jpg) no-repeat left top}
.side-search li+li{border-top:1px solid #bfd8ff}
.side-search a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:13px;height:13px;background-position:0 -35px}
.side-search-heading{border:1px solid #bfd8ff;background:#dcf1fa url(../imgs/blue/bg_grade_01.jpg) repeat-x left top}
.side-search-heading:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:17px;height:16px;background-position:0 -201px}
.side-search-heading:after{background-color:#448ad0}
.side-search-heading+ul{border:1px solid #bfd8ff}
.side-others{border:1px solid #bfd8ff}
.side-others-heading{border-bottom:2px solid #bfd8ff}
.side-others-link li{border-bottom:1px dotted #bfd8ff}
.side-others-link a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:8px;height:8px;background-position:0 -48px}
.side-others-qr{background:url(../imgs/bg_stripe_01.png) repeat left top}
.side-others-qr-heading{background-color:#dbe9ff}
.guide-nav{border-top:2px solid #336cc5}
.guide-nav .guide-nav-element{border-right:1px solid #98b7e6}
.guide-nav .guide-nav-element:nth-of-type(5n+1){width:166px;border-left:1px solid #98b7e6}
.guide-nav .guide-nav-element>ul>li>a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:8px;height:8px;background-position:0 -48px}
.guide-nav .guide-nav-element>ul>li ul a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:7px;height:7px;background-position:0 -56px}
.page-footer{background:#abd1f0}
.page-footer .cr{background-color:#336cc5}
.gnav2 li a:hover{color:#06c}
.link-pastnews a:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:13px;height:13px;background-position:0 -35px}
.element-qa dt:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:22px;height:22px;background-position:0 -147px}
.element-qa dt:after{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:24px;height:24px;background-position:0 -123px}
.element-qa .q-open:after{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:24px;height:24px;background-position:0 -99px}
.element-qa dd:before{background-image:url('../imgs/sprite-blue-s1913e6abfb.png');background-repeat:no-repeat;overflow:hidden;width:22px;height:22px;background-position:0 0}
.form-table th{background:#ecf5fc}
.element-error{border:2px solid #bfd8ff;background-color:#ecf5fc}
.element-error-heading{border-left:6px solid #98b7e6}
.heading-lv1-1column{background:#336cc5}
.heading-lv2-1column{border-left:5px solid #336cc5}
.heading-kind span{background:url(../imgs/blue/icon_heading_kind.png) no-repeat left center}
.contents-main-1column .elemnet-kind-rent ul{border-top:3px solid #336cc5}
.contents-main-1column .elemnet-kind-rent li{background:url(../imgs/blue/icon_arrow_api1.png) no-repeat left center}
.contents-main-1column .elemnet-kind-buy ul{border-top:3px solid #336cc5}
.contents-main-1column .elemnet-kind-buy li{background:url(../imgs/blue/icon_arrow_api1.png) no-repeat left center}
.contents-main-1column .heading-recommend{border-left:5px solid #336cc5}
.contents-main-1column .form-flow1{background:url(../imgs/blue/form_flow1.png) no-repeat left top}
.contents-main-1column .form-flow2{background:url(../imgs/blue/form_flow2.png) no-repeat left top}
.contents-main-1column .form-flow3{background:url(../imgs/blue/form_flow3.png) no-repeat left top}
.contents-main-1column .heading-area{background:#eaf0f9}
.contents-main-1column .link-all-result{background:url(../imgs/blue/icon_arrow_api2.png) no-repeat left center}
.contents-main-1column .link-all-station a{background:url(../imgs/blue/icon_arrow_descend.png) no-repeat left center}
.contents-main-1column .link-all-station.open a{background:url(../imgs/blue/icon_arrow_ascend.png) no-repeat left center}
.contents-main-1column .element-recommend{background:#eaf0f9}
.contents-main-1column .element-recommend .btn-prev{background-color:#336cc5;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;border-radius:0 5px 5px 0}
.contents-main-1column .element-recommend .btn-next{background-color:#336cc5;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;border-radius:5px 0 0 5px}
.contents-main-1column .recommend-item a{color:#336cc5}
.contents-main-1column .recommend-item a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:.8}
.element-search-from li{background:url(../imgs/blue/icon_arrow_api2.png) no-repeat left 6px}
.heading-search-from.recommend{background:url(../imgs/blue/icon_flag.png) no-repeat left top}
.heading-search-from.kind{background:url(../imgs/blue/icon_house.png) no-repeat left top}
.heading-search-from.change{background:url(../imgs/blue/icon_change.png) no-repeat left top}
.heading-search-from.area{background:url(../imgs/blue/icon_search2.png) no-repeat left top}
.element-tab-search ul{border-bottom:4px solid #336cc5}
.element-tab-search.bottom ul{border-top:4px solid #336cc5}
.element-tab-search li.active{background:#336cc5;border:1px solid #336cc5}
.element-tab-search li a{color:#336cc5}
.btn-lv4{color:#336cc5}
.contents-main-1column .form-privacy-heading-lv1{border-bottom:1px solid #336cc5}
.heading-article{background:#336cc5}
.sort-table{background:#f8f7ee}
.sort-table th{background:#f8f7ee}
.sort-table .descend{background:url(../imgs/blue/icon_arrow_descend.png) no-repeat right center}
.sort-table .descend.active{background:url(../imgs/blue/icon_arrow_descend_active.png) no-repeat right center}
.sort-table .ascend{background:url(../imgs/blue/icon_arrow_ascend.png) no-repeat right center}
.sort-table .ascend.active{background:url(../imgs/blue/icon_arrow_ascend_active.png) no-repeat right center}
.sort-table .cell3 .descend,.sort-table .cell3 .ascend{background-position:bottom center}
.article-object{border-top:4px solid #336cc5}
.articlelist-side-heading{background:#336cc5}
.articlelist-side-heading2{border-left:5px solid #336cc5}
.articlelist-side-section .link-more-term a{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.3)),color-stop(100%, rgba(255,255,255,0)));background:-moz-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0));background:-webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0));background:linear-gradient(to bottom, rgba(255,255,255,0.3),rgba(255,255,255,0));border:1px solid #336cc5;background-color:#336cc5}
.contents-article .type{color:#336cc5}
.contents-article .article-main-info .article-heading{background:#336cc5}
.contents-article .article-main-info .table-main-info th{background:#eaf0f9}
.contents-article .item-detail-tab-contents .tab{border-bottom:4px solid #336cc5}
.contents-article .item-detail-tab-contents .tab a{color:#336cc5}
.contents-article .item-detail-tab-contents .tab a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:.8}
.contents-article .item-detail-tab-contents .tab .cu a{background:#336cc5;border:1px solid #336cc5}
.contents-article .item-detail-tab-contents .tab.bottom{border-top:4px solid #336cc5;border-bottom:none}
.contents-article .photo-gallery .left .thumb-list .active:after{border:2px solid #336cc5}
.contents-article .photo-gallery .left .pager-thumb .btn .prev a:before{background:url(../imgs/blue/icon_arrow_gallery_thumb_l.png) no-repeat left top}
.contents-article .photo-gallery .left .pager-thumb .btn .next a:before{background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left top}
.contents-article .photo-gallery .left .pager-thumb .dots .cu a{background:#336cc5}
.contents-article .photo-gallery .right .btn-move a{background-color:#336cc5}
.contents-article .heading-article-lv2:before{background:#336cc5}
.contents-article .section-company .company-body{background:#f5f4eb}
.article-side-heading{background:#336cc5}
.contents-article .article-info-attention .tooltip .tooltip-tx{color:#336cc5}
.checklist-tab a{border-bottom:1px solid #336cc5}
.checklist-tab .active{color:#336cc5}
.contents-iframe .heading-area{background:#eaf0f9}
.floatbox.gallery .btn-move a{background-color:#336cc5}
.floatbox.gallery .tx-heading{border-color:#336cc5}
.howto-see .company-name{border-bottom:2px solid #336cc5}
.howto-see .heading-howto{background:#336cc5}
.howto-see .link-page a:after{border-top:8px solid #336cc5}
.howto-see .heading-howto2{border-left:5px solid #336cc5}
.howto-see .heading-attention{color:#336cc5}
.howto-see .heading-attention:before{background:#336cc5}
.howto-see .heading-table{background:#eaf0f9}
.page-special .element-recommend{background:#eaf0f9}
.page-special .element-recommend .heading-recommend{border-left:5px solid #336cc5}
.page-special .recommend-item a{color:#336cc5}
.page-special .recommend-item a:hover{color:#6c96d9}
.company-link{color:#06c;background:url(../imgs/blue/icon_arrow_api2.png) no-repeat 10px center}
.contents-map{border-top:1px solid #336cc5}
.map-option__all span:before{background:url(../imgs/blue/icon_map-option_open.png) no-repeat}
.map-option__all.open span:before{background:url(../imgs/blue/icon_map-option_close.png) no-repeat}
.map-option__list span:before{background:url(../imgs/blue/icon_map-option_list.png) no-repeat}
.map-bl-list__btn_explain:before{background:url(../imgs/blue/icon_icon_explain.png) no-repeat}
.bl-item__btn_route{color:#06c;background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left center}
.bl-item__btn_street{color:#06c;background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left center}
.bl-item__btn_street:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.map__pager span{background:#336cc5;border:1px solid #336cc5}
.modal-streetview__error .btn-close a{background:#336cc5}
.page-header{border-top:3px solid #037a80}
.page-header .header-info{color:#fe7200}
.page-header .tel{padding:0 0 0 35px;background:url(../imgs/blue/icon_tel.png) no-repeat left center;}
.page-header .tel a{color:#fe7200}
.page-header .link a{color:#057286}
.page-header-top .link2 .link2-fav a{background:url(../imgs/blue/icon_fav.png) no-repeat left center}
.page-header-top .link2 .link2-history a{background:url(../imgs/blue/icon_time.png) no-repeat left center}
.gnav{background:#0baeb6 url(../imgs/blue/bg_gnav.jpg) repeat-x left bottom}
.tx-color1{color:#ee4c3f}
.tx-color1 a{color:#ee4c3f}
.tx-color1 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.tx-color2{color:#275cac}
.tx-color2 a{color:#275cac}
.tx-color2 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.tx-color3{color:#5d9d2e}
.tx-color3 a{color:#5d9d2e}
.tx-color3 a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.element-table .tx-tel{color:#fe7200;font-weight:bold;font-size:18px}
.btn-lv1{background:#fe7200 url(../imgs/blue/icon_arrow_r_white1.png) no-repeat 30px center}
.btn-lv2{background:#fff url(../imgs/blue/icon_arrow_r_color1.png) no-repeat 27px center;background:url(../imgs/blue/icon_arrow_r_color1.png),url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:url(../imgs/blue/icon_arrow_r_color1.png),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),color-stop(100%, #f2f2f2));background:url(../imgs/blue/icon_arrow_r_color1.png),-moz-linear-gradient(top, #ffffff,#f2f2f2);background:url(../imgs/blue/icon_arrow_r_color1.png),-webkit-linear-gradient(top, #ffffff,#f2f2f2);background:url(../imgs/blue/icon_arrow_r_color1.png),linear-gradient(to bottom, #ffffff,#f2f2f2);background-repeat:no-repeat,repeat;background-position:27px center,left top;color:#057286}
.link-pagelist li{background:url(../imgs/blue/icon_arrow_r_color2.png) no-repeat left 7px}
.quote{padding:24px 40px;background:#eaf1e5}
.element-line{border-bottom:1px dotted #15adb5}
.element-login{background:#f3f7e6}
.element-login dt{border-left:6px solid #15adb5}
.element-tximg6{background:#eaf1e5}
.element-tximg6.element-line{border-bottom:1px dotted #15adb5}
.element-comment{margin-top:26px;position:relative;background:#fdf2d9;overflow:visible}
.element-comment:before{content:"";position:absolute;top:-13px;left:50%;margin-left:-10px;display:block;width:19px;height:13px;background:url(../imgs/blue/bg_bubble.png) no-repeat left top}
.element-comment .element-heading{color:#15adb5;border-left:6px solid #15adb5}
/*.side-nav a{background:url(../imgs/blue/icon_arrow_r_color2.png) no-repeat 12px 18px}*/
/*.side-nav li li a{background:url(../imgs/blue/icon_line.png) no-repeat left 10px}*/
.side-search a{background:url(../imgs/blue/icon_arrow_r_white2.png) no-repeat 13px 19px}
.side-others-link a{background:url(../imgs/blue/icon_arrow_r_color2.png) no-repeat 7px 18px}
/*.guide-nav .guide-nav-element a{background:url(../imgs/blue/icon_arrow_r_color2.png) no-repeat left 4px}*/
.guide-nav .guide-nav-element li li a{background:url(../imgs/blue/icon_line.png) no-repeat left 7px}
.link-pastnews a{background:url(../imgs/blue/icon_arrow_r_white2.png) no-repeat left center}
.element-qa dt{background:#eaf1e5 url(../imgs/blue/icon_plus.png) no-repeat 620px center;color:#057286}
.element-qa .q-open{background:#eaf1e5 url(../imgs/blue/icon_minus.png) no-repeat 620px center}
.element-qa dd .element-a{background:#fdf2d9}
.element-qa dd .element-a:before{color:#d96100}
.element-firstletter{background:#fdf2d9}
.element-box-bg{background-color:#eaf1e5}
.form-flow1{background:url(../imgs/blue/bg_flow1.png) no-repeat}
.form-flow2{background:url(../imgs/blue/bg_flow2.png) no-repeat}
.form-flow3{background:url(../imgs/blue/bg_flow3.png) no-repeat}
.form-table th{background:#eaf1e5}
.form-table .form-must-bg{background:#fdf2d9}
.element-error{background:#f3f7e6}
.element-error-heading{border-left:6px solid #15adb5}
.heading-kind span{background:url(../imgs/blue/icon_heading_kind.png) no-repeat left center}
.contents-main-1column .elemnet-kind-rent li{background:url(../imgs/blue/icon_arrow_api1.png) no-repeat left center}
.contents-main-1column .elemnet-kind-buy li{background:url(../imgs/blue/icon_arrow_api1.png) no-repeat left center}
.contents-main-1column .form-flow1{background:url(../imgs/blue/form_flow1.png) no-repeat left top}
.contents-main-1column .form-flow2{background:url(../imgs/blue/form_flow2.png) no-repeat left top}
.contents-main-1column .form-flow3{background:url(../imgs/blue/form_flow3.png) no-repeat left top}
.contents-main-1column .link-all-result{background:url(../imgs/blue/icon_arrow_api2.png) no-repeat left center}
.contents-main-1column .link-all-station a{background:url(../imgs/blue/icon_arrow_descend.png) no-repeat left center}
.contents-main-1column .link-all-station.open a{background:url(../imgs/blue/icon_arrow_ascend.png) no-repeat left center}
.element-search-from li{background:url(../imgs/blue/icon_arrow_api2.png) no-repeat left 6px}
.heading-search-from.recommend{background:url(../imgs/blue/icon_flag.png) no-repeat left top}
.heading-search-from.kind{background:url(../imgs/blue/icon_house.png) no-repeat left top}
.heading-search-from.change{background:url(../imgs/blue/icon_change.png) no-repeat left top}
.heading-search-from.area{background:url(../imgs/blue/icon_search2.png) no-repeat left top}
.sort-table{background:#f8f7ee}
.sort-table th{background:#f8f7ee}
.sort-table .descend{background:url(../imgs/blue/icon_arrow_descend.png) no-repeat right center}
.sort-table .descend.active{background:url(../imgs/blue/icon_arrow_descend_active.png) no-repeat right center}
.sort-table .ascend{background:url(../imgs/blue/icon_arrow_ascend.png) no-repeat right center}
.sort-table .ascend.active{background:url(../imgs/blue/icon_arrow_ascend_active.png) no-repeat right center}
.sort-table .cell3 .descend,.sort-table .cell3 .ascend{background-position:bottom center}
.contents-article .item-detail-tab-contents .tab a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:.8}
.contents-article .photo-gallery .left .pager-thumb .btn .prev a:before{background:url(../imgs/blue/icon_arrow_gallery_thumb_l.png) no-repeat left top}
.contents-article .photo-gallery .left .pager-thumb .btn .next a:before{background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left top}
.contents-article .section-company .company-body{background:#f5f4eb}
.map-option__all span{color:#057286}
.map-option__all span:before{background:url(../imgs/blue/icon_map-option_open.png) no-repeat}
.map-option__all.open span{color:#057286}
.map-option__all.open span:before{background:url(../imgs/blue/icon_map-option_close.png) no-repeat}
.map-option__list span{color:#057286}
.map-option__list span:before{background:url(../imgs/blue/icon_map-option_list.png) no-repeat}
.map-bl-list__btn_explain{color:#057286}
.map-bl-list__btn_explain:before{background:url(../imgs/blue/icon_icon_explain.png) no-repeat}
.bl-item__btn_route{color:#057286;background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left center}
.bl-item__btn_street{color:#057286;background:url(../imgs/blue/icon_arrow_gallery_thumb_r.png) no-repeat left center}
.bl-item__btn_street:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}
.element-auto-link.pick-up{border-left: solid 8px #448ad0}
.small-category{border: 1px solid #448ad0}
.small-category > span, .element-large-category h3{background: url(../imgs/blue/icon_line.png) no-repeat left center}
.element-auto-link.link-other-category > h3{border-bottom: 1px solid #448ad0}
.element-auto-link.link-menu a{background: url(../imgs/blue/icon_arrow_b_color.png) no-repeat left center;background-size: 15px}
.block-large-category .heading-lv2{background: url(../imgs/blue/icon_detail.png) no-repeat 10px center,#fff url(../imgs/blue/bg_heading-lv2_01.jpg) no-repeat left top}
.element-auto-link.large-list > ul > li > a{background: url(../imgs/blue/icon_link.png) no-repeat left 3px}
.link-other-category .link-other,
.element-auto-link.pick-up > a{background: url(../imgs/blue/icon_link.png) no-repeat left center}
.element-auto-search-housing li{background: url(../imgs/blue/icon_arrow_r_color.png) no-repeat left 3px}
.small-category li a::before{color: #98b7e6}
.block-small-category .heading-lv2{background: url(../imgs/blue/icon_category.png) no-repeat 10px center,#fff url(../imgs/blue/bg_heading-lv2_01.jpg) no-repeat left top}
.element-auto-link.link-other-category > h3 span{background: url(../imgs/blue/icon_check.png) no-repeat center center}
.element-large-category .large-title,
.element-large-category .large-link{background: url(../imgs/blue/icon_arrow_r_color.png) no-repeat left 5px;background-size: 15px}
.article-back span::before{background: url(../imgs/blue/icon_arrow_l_color.png) no-repeat left 2px}
.article-next span::after{background: url(../imgs/blue/icon_arrow_r_color.png) no-repeat right 2px}