@charset "utf-8";

/* global */
.contents .inner a:hover{opacity: .8;}

/* define parts
========================================================= */
.contents-article .item-detail-tab-contents .tab{border-bottom:4px solid;}
.contents-article .item-detail-tab-contents .tab.bottom{border-top:4px solid; border-bottom:0;}

/* altanate color */
.tx-color1{color:#974600;}


/* define background color
========================================================= */
.page-header,
.page-header-top .link li a,
.page-header-top .link2 li a,
.gnav ul a:hover,
.page-footer,
.link-pastnews a:before,
input.btn-lv3,
.contents-main-1column .element-tab-search li.active a,
.contents-main-1column .element-recommend .btn-prev a,
.contents-main-1column .element-recommend .btn-next a,
.element-error-heading,
.heading-article,
.articlelist-side-heading,
.heading-lv1,
.articlelist-side-section .link-more-term a,
.contents-article .article-main-info .article-heading,
.article-side-heading,
.contents-article .item-detail-tab-contents .tab .cu a,
.contents-article .heading-article-lv2:before,
.article-checklist .heading-lv1-1column,
.howto-see .heading-howto,
.howto-see .heading-attention:before,
.btn-lv1,
.btn-lv2,
.pagetop a,
.page-footer .pagetop a,
.element-table .element-table-heading,
.element-table7 tr:first-child th, 
.element-table7 tbody tr:first-child th, 
.element-table8 tr:first-child th, 
.element-table8 tbody tr:first-child th,
.modal-streetview__error .btn-close a
{background-color:rgba(2,83,146,1); }


/* override */
.contents-main.contents-left .heading-lv1,
.contents-main.contents-right .heading-lv1,
.contents-form .contents-main .heading-lv1{background-color: transparent;}

/* define foreground color
========================================================= */
a:hover,
.side-search ul li a:before,
.side-search ul li a:hover,
.side-others-link li a:before,
.heading-lv3,
.division-heading,
.contents-main-1column .heading-kind span:before,
.contents-main-1column .elemnet-kind-rent li a,
.contents-main-1column .elemnet-kind-buy li a,
.contents-main-1column .elemnet-kind-rent li:before,
.contents-main-1column .elemnet-kind-buy li:before,
.contents-main-1column .element-tab-search li a,
.contents-main-1column .element-btn-search input,
.contents-main-1column .element-btn-search .add-icn:before,
.heading-search-from:before,
.contents-main-1column .element-recommend a,
.contents-article .article-main-info .article-heading .article-type .type,
.side-watch .watch-list .watch-name a,
.contents-article .item-detail-tab-contents .tab a,
.recommend-name a,
.sort-table .descend.active:after,
.sort-table .ascend.active:after,
.element-search-from-item a,
.element-search-from li:before,
.checklist-tab .active a,
.howto-see .heading-attention,
.tx-price,
.element-heading a,
.element-comment .element-heading,
.pager a,
.quote:before, .quote:after,
.link-pagelist a,
.link-pagelist li:before,
a.link-pdf,
a.link-word,
a.link-excel,
a.link-powerpoint,
.element-login .tx-forget a,
.slick-dots li.slick-active button:before,
.maps-header .page-header-top .logo-s .company-link,
.map-option__all span:before,
.map-option__list span:before,
.element-qa dt:after
{color:rgba(2,83,146,1);}


/* define border color
========================================================= */
/* top */
.contents-main-1column .elemnet-kind-rent ul,
.contents-main-1column .elemnet-kind-buy ul,
.contents-article .item-detail-tab-contents .tab.bottom,
.contents-main-1column .element-tab-search.bottom,
.contents-map
{border-top-color:rgba(2,83,146,1);}

/* bottom */
.contents-main-1column .element-tab-search,
.contents-article .item-detail-tab-contents .tab,
.side-nav-heading
{border-bottom-color:rgba(2,83,146,1);}

/* whole */
.contents-main-1column .element-tab-search li.active,
.contents-main-1column .heading-recommend,
.articlelist-side-section .articlelist-side-heading2,
.contents-article .item-detail-tab-contents .tab .cu a,
.howto-see .heading-howto2
{border-color:rgba(2,83,146,1);}


/* define half tone background color
========================================================= */
.element-error,
.contents-main-1column .heading-area label,
.element-search-area-item.from-map .heading-area,
.contents-main-1column .element-recommend,
.contents-article .section-company .company-body,
.page-special .element-recommend,
.howto-see .heading-table,
.element-comment,
.quote,
.element-login,
.element-qa dt,
.element-firstletter,
.element-box-bg,
.element-toc
{position: relative; background: #fff; z-index: 0;}
div.halftone{background-color:rgba(2,83,146,.15);  position: absolute; left: 0; top: 0;  width: 100%; height: 100%; z-index: -1}

.element-table th,
.element-table7 td.cell-checkbox,
.contents-main-1column .element-detail-table th
{background-color:rgba(2,83,146,.15);}
.sort-table th{background:#f5f5f5;}



.test{color: rgba(58,255,0,1.00)}




.contents-article .photo-gallery .left .thumb-list .active:after
{border: 2px solid rgba(2,83,146,1);}

.contents-article .photo-gallery .right .btn-move a
{background: rgba(2,83,146,1);}

.floatbox.gallery .btn-move a
{background-color: rgba(2,83,146,1);}

.element-auto-link.link-menu li a,
.element-auto-link.large-list ul li a,
.element-auto-link.pick-up a,
.small-category li a,
.element-auto-link.small-list ul li a,
.link-other a,
.element-large-category .large-title,
.element-large-category .large-link,
.element-large-category .large-link a,
.article-back a,
.article-next a {
    color: rgba(2,83,146,1);
}
.element-auto-link .link-category a {
	background: rgba(2,83,146,1) url(../imgs/arrow-forward.png) no-repeat right center;
}
.element-text-small-article .link-category a {
	background: rgba(2,83,146,.3) url(../imgs/btn-article.png) no-repeat;
    background-size: 100%;
}